[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
shapely = "*"

[packages]
torch = "*"
torchvision = "*"
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
