[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
shapely = "*"
rope = "*"

[packages]
torch = "==1.*"
torchvision = "*"
jupyter = "*"
matplotlib = "*"
tensorboard = "*"

[requires]
python_version = "3.7"
